/* Layout Base */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; 
  background-color: #f5f5f5;
  padding-bottom: 19.6%; 
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  background-color: #e0e0e0;
  align-items: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
}

.title {
  font-size: 1.5rem;
  display: flex;
  align-items: flex-end;
  color: black;
  font-weight: bolder;
}

.userInfo {
  display: flex;
  align-items: center;
  color: black;
}

.nome_user {
  margin-right: 0.5em;
}

.buttonContainer {
  padding-top: 6%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-top: 3em;
}

.button1, .button2, .button3, .button4 {
  width: 10em;
  height: 10em;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  border: none;
  transition: transform 0.1s ease;
}

.button1 {
  background-color: #ff5207;
}

.button2 {
  background-color: #D1920A;
}

.button3 {
  background-color: #016ACC;
}

.button4 {
  background-color: #D80000;
}

.button1:active, 
.button2:active, 
.button3:active, 
.button4:active {
  transform: scale(0.95); 
}

.footer {
  position: fixed; 
  bottom: 0;      
  left: 0;
  width: 100%;      
  background-color: #e0e0e0;
  padding: 0.5em;
  font-size: 0.75rem;
  color: #777;
  text-align: right;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  z-index: 1000;   
}

.dropdownMenu {
  position: absolute;
  top: 4em; 
  right: 1%;
  background-color: white;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  padding: 0.5em;
  z-index: 1000;
  color: black;
  font-weight: bolder;
}

.dropdownMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;  
}

.dropdownMenu li {
  padding: 0.5em 0.75em;
  cursor: pointer;
}

.dropdownMenu li:hover {
  background-color: #c2bcbc;
}

/* Consultas de Mídia */
@media (max-width: 768px) {
  .title {
    font-size: 1.2rem;
  }

  .buttonContainer {
    flex-direction: column;
    gap: 1em;
  }

  .button1, .button2, .button3, .button4 {
    width: 8em;
    height: 8em;
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .userInfo {
    margin-top: 0.5em;
  }

  .button1, .button2, .button3, .button4 {
    width: 6em;
    height: 6em;
  }

  .footer {
    font-size: 0.65rem;
  }
}
