/* Layout Base */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; 
  background-color: #f5f5f5;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 1em;
  background-color: #e0e0e0;
  align-items: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
}

.title {
  font-size: 1.5rem;
  display: flex;
  align-items: flex-end;
  color: black;
  font-weight: bolder;
}

.userInfo {
  display: flex;
  align-items: center;
  color: black;
  margin-right: 1%;
}

.nome_user {
  margin-right: 0.5em;
}

.buttonContainer {
  flex-wrap: wrap;
  gap: 1em;
}

.button1, .button2, .button3, .button4 {
  width: 10em;
  height: 10em;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  border: none;
  transition: transform 0.1s ease;
}

.button1 {
  background-color: #ff5207;
}

.button2 {
  background-color: #D1920A;
}

.button3 {
  background-color: #016ACC;
}

.button4 {
  background-color: #D80000;
}

.button1:active, 
.button2:active, 
.button3:active, 
.button4:active {
  transform: scale(0.95); 
}

.footer {
  position: fixed; 
  bottom: 0;      
  left: 0;
  width: 100%;      
  background-color: #e0e0e0;
  padding: 0.5em;
  font-size: 0.75rem;
  color: #777;
  text-align: right;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  z-index: 1000;   
}

.dropdownMenu {
  position: absolute;
  top: 4em; 
  right: 1%;
  background-color: white;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  padding: 0.5em;
  z-index: 1000;
  color: black;
  font-weight: bolder;
}

.dropdownMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;  
}

.dropdownMenu li {
  padding: 0.5em 0.75em;
  cursor: pointer;
}

.dropdownMenu li:hover {
  background-color: #c2bcbc;
}

/* Consultas de Mídia */
@media (max-width: 768px) {
  .title {
    font-size: 1.2rem;
  }

  .buttonContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1em;
    place-content: center;
  }

  .button1, .button2, .button3, .button4 {
    width: 8em;
    height: 8em;
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .userInfo {
    margin-top: 0.5em;
  }

  .button1, .button2, .button3, .button4 {
    width: 6em;
    height: 6em;
  }

  .footer {
    font-size: 0.65rem;
  }
}
.userName{
  margin-left: 1em;
  margin-right: 1em;
}

/* Estilos para o contêiner do formulário */
.formContainer {
  color: #333; 
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9; 
  border: 1px solid #ccc;
  border-radius: 8px; 
  padding: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
  z-index: 10; 
  width: 300px; 
}

/* Estilos para o formulário */
.formContainer form {
  display: flex;
  flex-direction: column;
}

/* Estilos para os rótulos */
.formContainer label {
  margin-bottom: 5px; 
  font-weight: bold; 
}

/* Estilos para os campos de entrada */
.formContainer input {
  padding: 10px; 
  margin-bottom: 15px;
  border: 1px solid #ccc; 
  border-radius: 4px;
  transition: border-color 0.3s; 
}

/* Estilo para foco nos campos de entrada */
.formContainer input:focus {
  border-color: #007bff; 
  outline: none; 
}

/* Estilos para botões */
.formContainer button {
  padding: 10px; 
  margin-top: 10px; 
  border: none;
  border-radius: 4px; 
  background-color: #007bff; 
  color: white; 
  cursor: pointer; 
  transition: background-color 0.3s;
}

/* Estilo para hover nos botões */
.formContainer button:hover {
  background-color: #0056b3; 
}

/* Estilo para o botão de cancelar */
.formContainer button[type="button"] {
  background-color: #dc3545; 
}

.formContainer button[type="button"]:hover {
  background-color: #c82333; 
}
.formTitle{
  font-weight: bold;
  margin-bottom: 4%; 
  font-size: 26px;
}
